{% extends 'ejemplo/base_gatos.html' %}
{% block titulo%} Lista de todos mis gatos {% endblock %}
{% block contenido %}
<a href="/mis-gatos/buscar">Buscar Gato</a>
<a href="/mis-gatos/alta">Nuevo Gato</a>

{% for gato in lista_gatos %}
      <ul>
          <li> 
            Nombre: {{gato.nombre}}, Edad: {{gato.edad}}, Sexo: {{gato.sexo}}</li>
            <a href="/mis-gatos/actualizar/{{ gato.id }}">Actualizar</a>
            <a href="/mis-gatos/borrar/{{ gato.id }}">Borrar</a>

          </ul>
  {% endfor %}
{% endblock %}