{% extends 'ejemplo/base_gatos.html' %}
{% block titulo%} Lista de todos mis gatos {% endblock %}
{% block contenido %}
<a href="/mi-familia/alta">Nuevo Familiar</a>
  {% for gato in lista_gatos %}
      <ul>
          <li> 
            Nombre: {{gato.nombre}}, Edad: {{gato.edad}}, Sexo: {{gato.sexo}}</li>
            <a href="/mi-familia/actualizar/{{ familiar.id }}">Actualizar</a>
            <a href="/mi-familia/borrar/{{ familiar.id }}">Borrar</a>

          </ul>
  {% endfor %}
{% endblock %}