{% extends 'ejemplo/base_perros.html' %}
{% block titulo%} Lista de todos mis perros {% endblock %}
{% block contenido %}
<a href="/mis-perros/buscar">Buscar Perro</a>
<a href="/mis-perros/alta">Nuevo Perro</a>

  {% for perro in lista_perros %}
      <ul>
          <li> 
            Nombre: {{perro.nombre}}, Edad: {{perro.edad}}, Sexo: {{perro.sexo}}</li>
            <a href="/mis-perros/actualizar/{{ perro.id }}">Actualizar</a>
            <a href="/mis-perros/borrar/{{ perro.id }}">Borrar</a>

          </ul>
  {% endfor %}
{% endblock %}